@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body {
  background-color: #101010;
  font-family: 'Roboto', sans-serif;

}

input,
button {
  font-family: inherit;

  padding: 8px 6px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  max-width: 250px;
  margin-bottom: 20px;
  background-color: #fff;
}

.App {
  text-align: center;
  padding: 2% 5%;
  color: #333;
  background-color: #FFD859;
}

.App * {
  box-sizing: border-box;
}

.chart-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;
  padding-top: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
  color: #5a5a5a;
}

#city-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 40px;
  position: relative;
  width: 100%;
}

.city {
  width: 100%;
}

.suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 10;

}

#number-of-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}


label[for="eventNumberInput"] {
  color: #5a5a5a;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.suggestions>li {
  text-align: left;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}

.suggestions>li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.suggestions>li:hover {
  background-color: #e9e9e9;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background-color: #f3f3f3;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.alerts-container {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .chart-container {
    grid-template-columns: 1fr;
  }

  .alerts-container {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    z-index: 1000;
  }
}